[submodule "binder/binder-2024-10-20-example.ipynb"]
	branch = binder-2024-10-20-example.ipynb
	shallow = true
[submodule "binder/binder-2024-11-05-openai-repr-size-4o.ipynb"]
	branch = binder-2024-11-05-openai-repr-size-4o.ipynb
	shallow = true
[submodule "binder/binder-2024-11-05-openai-repr-size-4omini.ipynb"]
	branch = binder-2024-11-05-openai-repr-size-4omini.ipynb
	shallow = true
[submodule "binder/binder-2024-11-05-openai-repr-size.ipynb"]
	branch = binder-2024-11-05-openai-repr-size.ipynb
	shallow = true
[submodule "binder/binder-2024-11-07-scientific.ipynb"]
	branch = binder-2024-11-07-scientific.ipynb
	shallow = true
[submodule "binder/binder"]
	path = binder/binder
	url = https://github.com/mmore500/hypermutator-dynamics.git
	branch = binder
	shallow = true
